* {
	padding: 0;
	margin: 0
}

li {
    list-style: none;
}

.container {
	max-width: 960px;
	text-align: center;
	margin: 0 auto;
	background-color: #03fc56;
	padding: 30px;
	margin-bottom: 20px;

}

.header { /* class */
	/*text-align: center;*/
	padding: 50px;
	background: #340ce6;
	/*color: green;*/
	/*font-size: 32px; */
	margin: 0 auto;
	margin-bottom: 20px;

}




.logo {
	float: left;
	/*padding-left: 100px;*/
	/*position: absolute;
	left: 20%;*/
	padding-left: 30%;
}

.name {
	text-align: center;
	padding-right: 35%;
	font-size: 32px;
	color: rgb(195, 228, 9);
}


.navigation {
	max-width: 960px;
	text-align: center;
	margin: 0 auto;
	background-color: #03fc39;
	margin-bottom: 20px;
	padding: 30px;
}

.links {
	max-width: 960px;
	text-align: center;
	margin: 0 auto;
	background-color: #03fc03;
	margin-bottom: 20px;
	padding: 30px;
}

.table {
	max-width: 960px;
	text-align: center;
	margin: 0 auto;
	background-color: rgb(174, 179, 250);
	margin-bottom: 20px;
	
}

td, th {
	width: 120px;
	padding: 10px;
	font-style: italic;
	font-size: 18px;
}

nav ul li {
	
	list-style: none;

	width: 60px;

	display: inline;

	padding: 30px;

}


tr:nth-child(odd) {
	background-color: #03fc39;
}

tr:nth-child(even) {
	background-color: rgb(78, 3, 3);
}

.footer {
	max-width: 960px;
	text-align: center;
	margin: 0 auto;
	background-color: #0bfc03;
	padding: 30px;
}